/* General */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-image: url(../img/Juana.jpg);
  background-repeat: repeat;
  width: auto;
  height: auto;
  background-attachment: fixed;
  font-weight: bold;
  color: rgb(22, 7, 7);
}

/* Input Forms*/
input[type="text"], input[type="password"]{
  outline: none;
  padding: 20px;
  display: block;
  width: 300px;
  border-radius: 3px;
  border: 1px solid #eee;
  margin: 20px auto;
}

input[type="submit"] {
  padding: 10px;
  color: rgb(255, 255, 255);
  background: #0036cb;
  width: 320px;
  margin: 20px auto;
  margin-top: 0;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #c71f13;
}

/* Header */
header {
  border-bottom: 2px solid rgb(15, 204, 211);
  padding: 20px 0;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}
header a {
  text-decoration: none;
  color: rgb(24, 13, 13);
}
